.heroslider{
    display: flex;
    width: 100%;
    position: relative;
    height: 600px;
    overflow: hidden;
}
.heroslides {
    position: absolute;
    flex-direction: row;
    display: flex;
    background-color: var(--third__color); 
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    clip-path: circle(0% at 0 50%);
    flex-shrink: 0;
    overflow: hidden;
  }
  .heroslidesactive{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
  .left{
    position: absolute;
    top: 50%;
    left: 01%;
    z-index: 1;
  }
  .right{
    position: absolute;
    top: 50%;
    right: 01%;
    z-index: 1;
  }

.heroslidesdesc {
    width: 30%;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    padding: 20px 20px;
    box-sizing: border-box;
    text-align: start;
    gap: 10px;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    margin-left: 132px;
    border-radius: 4px;
    position: relative;
    z-index: 10;
  }
  .heroslide__container{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    margin: auto;
    display: flex;
    gap: 50px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #0000005e;
  }
  .descprition {
    width: 80%;
  }
  .heroslideimage {
    width: 50%;
  }
  .nav__button{
    background-color: #0000004f;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
  }
  .nav__button:hover{
    background-color: var(--secondary__color);
  }
  img {
    object-fit: cover;
    height: 536px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.0) 0px 2px 8px 0px;
    
  }
  .navigation__button .left{
   position: absolute;
   top: 50%;
   left: 50%;

  }
  .logo {
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 5%;
  }
  .logo .logo__heading{
    font-size: 32px;
    letter-spacing: 2px;
  }

  
  @media only screen and (max-width: 1150px) {
    .heroslide__container {
      flex-direction: column;
      padding: 20px 0px;
      gap: 0px;
      justify-content: flex-end;
      align-items: center;
    }
    .logo{
      display: none;
    }
    .left{
      display: none;
    }
    .right{
      display: none;
    }
    .heroslidesdesc {
      width: 100%;
      margin-left: 0px;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;
      text-align: left;
      margin-bottom: 20px;
    }
    .heroslideimage {
      width: 100%;
    }
    img {
      object-fit: cover;
      height: 300px;
      width: 300px;
      box-shadow: rgba(99, 99, 99, 0.0) 0px 2px 8px 0px;
    }
    .descprition{
      margin-top: -20px;
      width: 100%;
    }
  }